<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kat_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false"  />

    <application
        android:name=".Data.ParseApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".Activities.ConfirmInvestActivity"></activity>
        <activity android:name=".Activities.InvestActivity" />
        <activity android:name=".Activities.ChatActivity" />
        <activity android:name=".Activities.OtherUserProfileActivity" />
        <activity
            android:name=".Activities.MoreDetailsActivity"
            android:theme="@style/AppTheme.moreDetials" />
        <activity android:name=".Activities.UpdateDetailsActivity" />
        <activity android:name=".Activities.ProjectDetailsActivity" />
        <activity android:name=".Activities.ManageAccountActivity" />
        <activity android:name=".Activities.ManageCreditActivity" />
        <activity android:name=".Activities.PayPalCheckoutActivity" />
        <activity android:name=".Activities.CreateProjectActivity" />
        <activity android:name=".Activities.EditProfileActivity" />
        <activity android:name=".Activities.AddUpdateActivity" />
        <activity android:name=".Activities.SignupActivity" />
        <activity
            android:name="com.schibstedspain.leku.LocationPickerActivity"
            android:label="@string/leku_title_activity_location_picker"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".Activities.EditProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/leku_searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.EditProfileActivity" />
        </activity>
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api"/>

    </application>

</manifest>